Devops and cloud job requirements
Key Skills : Linux, Jenkins, Kubernetes, Azure, Terraform, Scripting (Shell or Python), Configuration management tools (AnsiblePuppetChef), Monitoring Tools (PrometheusGrafanaSplunkELK)
Experience with AWS cloud services: S3, SES, Athena, Glue, Lambda, DynamoDb